// compileCompressed: /home/guest/entity/css/main.min.css

@import "minimum-reset"

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')
@import url('https://fonts.googleapis.com/css?family=Rubik')

*
  box-sizing: border-box
  transition: all ease 200ms

html, body
  height: 100%

.wrapper
  height: 100%
  background: #ccc
  font-family: 'Rubik', sans-serif
  position: relative

.container
  text-align: center
  background: #aaa
  max-width: 500px
  min-height: 400px
  position: absolute
  margin: auto
  top: 0
  right: 0
  bottom: 0
  left: 0

.converter-caption
  font-family: "Nunito", sans-serif
  margin: 0 auto

.current
  font-size: 60px

.entity-input-container
  margin-top: 20px

.or-text
  display: block
  margin-top: 20px

.entity-input
  width: 100%
  padding: 10px
  margin-top: 20px

.css-value-container, .js-value-container
  span
    display: block
    margin-top: 20px

.output-input-container
  position: relative
  width: 50%
  margin: 20px auto 0 auto
  input
    width: 100%
    padding: 10px 35px 10px 10px

.copy-button-container
  background: rgba(255,255,255,1)
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)))
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 )
  position: absolute
  right: 0
  top: 0
  height: 100%
  width: 25px

.copy-css, .copy-js
  background: url("icons/copy.svg") center bottom no-repeat
  height: 80%
  width: 80%
  cursor: pointer
  padding: 4px

.hidden
  display: none
